@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #121212;
}

#jsFrame {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
  overflow: hidden;
  pointer-events: all;
  border: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img#icon {
  display: inline;
}

img#giticon {
  display: inline;
}

img#my_picture {
  float: right;
  border: 5px black;
  border-style: inset ;
}

p {
  font-family: "Montserrat", "Courier New", "Verdana", "Geneva";
  font-size: 1.5em;
  color: white;
}

hr {
  border-color: white;
}

h1 {
  font-family: "Montserrat", "Courier New", "Verdana", "Geneva";
  color: white;
}

h2 {
  font-family: "Montserrat", "Courier New", "Verdana", "Geneva";
  color: white;
  /* color: rgb(13, 196, 241); */
  font-weight: bold;
}

ul {
  font-family: "Montserrat", "Consolas", "Verdana", "Geneva";
  font-size: 25px;
}

a:link {
  background-color: transparent;
  text-decoration: none;
  font-family: "Montserrat", "Consolas", "Verdana", "Geneva";
}

a:visited {
  color:#404040;
  text-decoration: none;
  font-family: "Montserrat", "Consolas", "Verdana", "Geneva";
}

a:hover {
  color: #00ccff;
}

#notWorkLink {
  color: #404040;
  font-size: 30px;
  background-color: transparent;
  text-decoration: none;
  position: static;
}

a#workLink:link {
  color: #404040;
  font-size: 30px;
  background-color: transparent;
  text-decoration: none;
  position: static;
}

a#workLink:visited {
  color: #404040;
  background-color: transparent;
  text-decoration: none;
}

a#workLink:hover {
  color: #00ccff;
}
