@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #121212;
}

#jsFrame {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
  overflow: hidden;
  pointer-events: all;
  border: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img#icon {
  display: inline;
}

img#giticon {
  display: inline;
}

img#my_picture {
  float: right;
  border: 5px black;
  border-style: inset ;
}

p {
  font-family: "Montserrat", "Courier New", "Verdana", "Geneva";
  font-size: 1.5em;
  color: white;
}

hr {
  border-color: white;
}

h1 {
  font-family: "Montserrat", "Courier New", "Verdana", "Geneva";
  color: white;
}

h2 {
  font-family: "Montserrat", "Courier New", "Verdana", "Geneva";
  color: white;
  font-weight: bold;
  margin-top: 1em;
}

ul {
  font-family: "Montserrat", "Consolas", "Verdana", "Geneva";
  font-size: 25px;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: white;
  font-family: "Montserrat", "Consolas", "Verdana", "Geneva";
}

a:visited {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", "Consolas", "Verdana", "Geneva";
}

a:hover {
  color: #7c7979;
}

.bottom_line {
  border-bottom: 3px solid white;
  width: fit-content;
}

.indent {
  margin-left: 1em;
}

.small {
  color: white;
  font-size: 1em;
  margin-left: 3em;
  font-style: italic;
  margin-top: -1em;
}